# Neuron Network - Lab

### Part 1: Load  data

Import "bank-data.csv"

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
bankData = pd.read_csv('/content/gdrive/MyDrive/CPE/CPE378 Machine Learning/bank-data.csv', sep = ';')
bankData.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

### Part 2: Preprocess data

Preprocess the dataset as you have done before

#### 2.1 Binary encoding

Use LabelEncoder to encode the following columns:
- y
- default
- housing
- loan

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#example
bankData['y'] = le.fit_transform(bankData['y'])
bankData.head()

   age          job  marital  education  ... pdays  previous poutcome  y
0   30   unemployed  married    primary  ...    -1         0  unknown  0
1   33     services  married  secondary  ...   339         4  failure  0
2   35   management   single   tertiary  ...   330         1  failure  0
3   30   management  married   tertiary  ...    -1         0  unknown  0
4   59  blue-collar  married  secondary  ...    -1         0  unknown  0

[5 rows x 17 columns]

In [4]:
#Encode the remaining columns
bankData['housing'] = le.fit_transform(bankData['housing'])
bankData['default'] = le.fit_transform(bankData['default'])
bankData['loan'] = le.fit_transform(bankData['loan'])
bankData.head()

   age          job  marital  education  ...  pdays  previous  poutcome  y
0   30   unemployed  married    primary  ...     -1         0   unknown  0
1   33     services  married  secondary  ...    339         4   failure  0
2   35   management   single   tertiary  ...    330         1   failure  0
3   30   management  married   tertiary  ...     -1         0   unknown  0
4   59  blue-collar  married  secondary  ...     -1         0   unknown  0

[5 rows x 17 columns]

#### 2.2 Convert categorical variables into dummy columns

(1) Use pd.get_dummies to convert the following categorical variales into dummy columns
- job
- maritial
- education
- contact
- month
- poutcome

(2) Drop columns that have been converted

In [5]:
#example
bankData = pd.concat([bankData,pd.get_dummies(bankData['job'],prefix='job')],axis=1)
bankData = bankData.drop(columns=['job'])
bankData.head()

   age  marital  education  ...  job_technician  job_unemployed  job_unknown
0   30  married    primary  ...               0               1            0
1   33  married  secondary  ...               0               0            0
2   35   single   tertiary  ...               0               0            0
3   30  married   tertiary  ...               0               0            0
4   59  married  secondary  ...               0               0            0

[5 rows x 28 columns]

In [6]:
bankData = pd.concat([bankData,pd.get_dummies(bankData['marital'],prefix='marital')],axis=1)
bankData = pd.concat([bankData,pd.get_dummies(bankData['education'],prefix='education')],axis=1)
bankData = pd.concat([bankData,pd.get_dummies(bankData['contact'],prefix='contact')],axis=1)
bankData = pd.concat([bankData,pd.get_dummies(bankData['month'],prefix='month')],axis=1)
bankData = pd.concat([bankData,pd.get_dummies(bankData['poutcome'],prefix='poutcome')],axis=1)

bankData = bankData.drop(columns=['marital', 'education', 'contact', 'month', 'poutcome'])

In [7]:
# all column is integer
bankData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 49 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  4521 non-null   int64
 1   default              4521 non-null   int64
 2   balance              4521 non-null   int64
 3   housing              4521 non-null   int64
 4   loan                 4521 non-null   int64
 5   day                  4521 non-null   int64
 6   duration             4521 non-null   int64
 7   campaign             4521 non-null   int64
 8   pdays                4521 non-null   int64
 9   previous             4521 non-null   int64
 10  y                    4521 non-null   int64
 11  job_admin.           4521 non-null   uint8
 12  job_blue-collar      4521 non-null   uint8
 13  job_entrepreneur     4521 non-null   uint8
 14  job_housemaid        4521 non-null   uint8
 15  job_management       4521 non-null   uint8
 16  job_retired          4521 non-null   uint8
 17  job_self-employed    4521 non-null   uint8
 18  job_services         4521 non-null   uint8
 19  job_student          4521 non-null   uint8
 20  job_technician       4521 non-null   uint8
 21  job_unemployed       4521 non-null   uint8
 22  job_unknown          4521 non-null   uint8
 23  marital_divorced     4521 non-null   uint8
 24  marital_married      4521 non-null   uint8
 25  marital_single       4521 non-null   uint8
 26  education_primary    4521 non-null   uint8
 27  education_secondary  4521 non-null   uint8
 28  education_tertiary   4521 non-null   uint8
 29  education_unknown    4521 non-null   uint8
 30  contact_cellular     4521 non-null   uint8
 31  contact_telephone    4521 non-null   uint8
 32  contact_unknown      4521 non-null   uint8
 33  month_apr            4521 non-null   uint8
 34  month_aug            4521 non-null   uint8
 35  month_dec            4521 non-null   uint8
 36  month_feb            4521 non-null   uint8
 37  month_jan            4521 non-null   uint8
 38  month_jul            4521 non-null   uint8
 39  month_jun            4521 non-null   uint8
 40  month_mar            4521 non-null   uint8
 41  month_may            4521 non-null   uint8
 42  month_nov            4521 non-null   uint8
 43  month_oct            4521 non-null   uint8
 44  month_sep            4521 non-null   uint8
 45  poutcome_failure     4521 non-null   uint8
 46  poutcome_other       4521 non-null   uint8
 47  poutcome_success     4521 non-null   uint8
 48  poutcome_unknown     4521 non-null   uint8
dtypes: int64(11), uint8(38)
memory usage: 556.4 KB

#### 2.3 Train/Test separation

Perform hold-out method
- 60% training set
- 40% testing set

In [8]:
bankData_train = bankData.sample(frac = 0.6)
bankData_test = bankData.drop(bankData_train.index)
print(pd.crosstab(bankData_train['y'],columns = 'count'))
print(pd.crosstab(bankData_test['y'],columns = 'count'))

col_0  count
y
0       2394
1        319
col_0  count
y
0       1606
1        202

##### X/y separation

In [10]:
bankData_train_y = bankData_train['y']
bankData_train_X = bankData_train.copy()
del bankData_train_X['y']

bankData_test_y = bankData_test['y']
bankData_test_X = bankData_test.copy()
del bankData_test_X['y']

#### 2.4 Feature Scaling

It is always a good practice to scale the features so that all of them can be uniformly evaluated

In [11]:
from sklearn import preprocessing

#standardization
standard_scaler = preprocessing.StandardScaler()
train_X_scaled_s = pd.DataFrame(standard_scaler.fit_transform(bankData_train_X), columns=bankData_train_X.columns)
test_X_scaled_s = pd.DataFrame(standard_scaler.fit_transform(bankData_test_X), columns=bankData_train_X.columns)

#normalization
min_max_scaler = preprocessing.MinMaxScaler()
train_X_scaled_m = pd.DataFrame(min_max_scaler.fit_transform(bankData_train_X),columns=bankData_train_X.columns)
test_X_scaled_m = pd.DataFrame(min_max_scaler.fit_transform(bankData_test_X),columns=bankData_train_X.columns)

In [12]:
train_X_scaled_s.head()

        age   default  ...  poutcome_success  poutcome_unknown
0  0.701541 -0.134206  ...         -0.169766          0.462461
1  0.241523 -0.134206  ...         -0.169766          0.462461
2 -0.678515 -0.134206  ...         -0.169766          0.462461
3 -1.506549 -0.134206  ...         -0.169766          0.462461
4 -1.046530 -0.134206  ...         -0.169766          0.462461

[5 rows x 48 columns]

In [13]:
# normalize to range 0-1
train_X_scaled_m.head()

        age  default  ...  poutcome_success  poutcome_unknown
0  0.441176      0.0  ...               0.0               1.0
1  0.367647      0.0  ...               0.0               1.0
2  0.220588      0.0  ...               0.0               1.0
3  0.088235      0.0  ...               0.0               1.0
4  0.161765      0.0  ...               0.0               1.0

[5 rows x 48 columns]

## Artificial Neural Network : sklearn

### Part 3: Train a model

In [14]:
from sklearn.neural_network import MLPClassifier
# 10 neurons per layers  
mlp = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)  # max_iter = epoch
mlp.fit(train_X_scaled_s, bankData_train_y)

MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)

### Part 4: Model Evaluation

Evaluation metrics
- confusion metrix
- accuracy
- precision, recall, f1-score

In [28]:
mlp.score(train_X_scaled_s, bankData_train_y, sample_weight=None)

0.9944710652414301

### Part 5: Model tuning

#### Note:

After building the classifier, try answering the following questions.

1. What is the Accuracy Score?
2. If you change your preprosessing method, can you improve the model?
3. If you change your parameters setting, can you improve the model?

## Artificial Neural Network : keras

Fitting a logistic regression model

### Part 3: Train a model

In [15]:
import keras
from keras import models
from keras import layers

In [16]:
train_X_scaled_s.shape

(2713, 48)

In [18]:
nn = models.Sequential()
# 48 neurons in input layer
nn.add(layers.Dense(48,activation = 'linear',input_shape=(None,48)))
# output is 0/1
nn.add(layers.Dense(1,activation = 'sigmoid'))
# Dense = fully connected network

In [19]:
nn.compile(optimizer='sgd', loss='binary_crossentropy', metrics=['accuracy'])

In [20]:
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, None, 48)          2352

 dense_3 (Dense)             (None, None, 1)           49

=================================================================
Total params: 2,401
Trainable params: 2,401
Non-trainable params: 0
_________________________________________________________________

In [23]:
import numpy as np
X_train_add = np.expand_dims(train_X_scaled_s, axis=0)
y_train_add = np.expand_dims(bankData_train_y, axis=0)
y_train_add = np.expand_dims(y_train_add, axis=2)

In [ ]:
y_train_add.shape

In [25]:
history = nn.fit(X_train_add,y_train_add,epochs=100)

Epoch 1/100
1/1 [==============================] - 1s 766ms/step - loss: 0.7654 - accuracy: 0.5459
Epoch 2/100
1/1 [==============================] - 0s 12ms/step - loss: 0.7599 - accuracy: 0.5511
Epoch 3/100
1/1 [==============================] - 0s 11ms/step - loss: 0.7544 - accuracy: 0.5555
Epoch 4/100
1/1 [==============================] - 0s 15ms/step - loss: 0.7490 - accuracy: 0.5584
Epoch 5/100
1/1 [==============================] - 0s 14ms/step - loss: 0.7437 - accuracy: 0.5628
Epoch 6/100
1/1 [==============================] - 0s 14ms/step - loss: 0.7385 - accuracy: 0.5673
Epoch 7/100
1/1 [==============================] - 0s 10ms/step - loss: 0.7333 - accuracy: 0.5743
Epoch 8/100
1/1 [==============================] - 0s 11ms/step - loss: 0.7282 - accuracy: 0.5798
Epoch 9/100
1/1 [==============================] - 0s 9ms/step - loss: 0.7232 - accuracy: 0.5827
Epoch 10/100
1/1 [==============================] - 0s 11ms/step - loss: 0.7183 - accuracy: 0.5864
Epoch 11/100
1/1 [==============================] - 0s 10ms/step - loss: 0.7134 - accuracy: 0.5916
Epoch 12/100
1/1 [==============================] - 0s 12ms/step - loss: 0.7086 - accuracy: 0.5982
Epoch 13/100
1/1 [==============================] - 0s 10ms/step - loss: 0.7039 - accuracy: 0.6019
Epoch 14/100
1/1 [==============================] - 0s 10ms/step - loss: 0.6993 - accuracy: 0.6067
Epoch 15/100
1/1 [==============================] - 0s 12ms/step - loss: 0.6947 - accuracy: 0.6108
Epoch 16/100
1/1 [==============================] - 0s 10ms/step - loss: 0.6902 - accuracy: 0.6148
Epoch 17/100
1/1 [==============================] - 0s 10ms/step - loss: 0.6857 - accuracy: 0.6215
Epoch 18/100
1/1 [==============================] - 0s 14ms/step - loss: 0.6813 - accuracy: 0.6251
Epoch 19/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6770 - accuracy: 0.6299
Epoch 20/100
1/1 [==============================] - 0s 10ms/step - loss: 0.6727 - accuracy: 0.6329
Epoch 21/100
1/1 [==============================] - 0s 9ms/step - loss: 0.6685 - accuracy: 0.6384
Epoch 22/100
1/1 [==============================] - 0s 13ms/step - loss: 0.6644 - accuracy: 0.6414
Epoch 23/100
1/1 [==============================] - 0s 16ms/step - loss: 0.6603 - accuracy: 0.6461
Epoch 24/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6562 - accuracy: 0.6506
Epoch 25/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6522 - accuracy: 0.6561
Epoch 26/100
1/1 [==============================] - 0s 10ms/step - loss: 0.6483 - accuracy: 0.6613
Epoch 27/100
1/1 [==============================] - 0s 9ms/step - loss: 0.6444 - accuracy: 0.6664
Epoch 28/100
1/1 [==============================] - 0s 9ms/step - loss: 0.6406 - accuracy: 0.6705
Epoch 29/100
1/1 [==============================] - 0s 13ms/step - loss: 0.6368 - accuracy: 0.6745
Epoch 30/100
1/1 [==============================] - 0s 9ms/step - loss: 0.6331 - accuracy: 0.6775
Epoch 31/100
1/1 [==============================] - 0s 12ms/step - loss: 0.6294 - accuracy: 0.6812
Epoch 32/100
1/1 [==============================] - 0s 9ms/step - loss: 0.6258 - accuracy: 0.6852
Epoch 33/100
1/1 [==============================] - 0s 11ms/step - loss: 0.6223 - accuracy: 0.6900
Epoch 34/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6187 - accuracy: 0.6952
Epoch 35/100
1/1 [==============================] - 0s 8ms/step - loss: 0.6152 - accuracy: 0.7000
Epoch 36/100
1/1 [==============================] - 0s 11ms/step - loss: 0.6118 - accuracy: 0.7048
Epoch 37/100
1/1 [==============================] - 0s 10ms/step - loss: 0.6084 - accuracy: 0.7077
Epoch 38/100
1/1 [==============================] - 0s 12ms/step - loss: 0.6051 - accuracy: 0.7114
Epoch 39/100
1/1 [==============================] - 0s 10ms/step - loss: 0.6018 - accuracy: 0.7132
Epoch 40/100
1/1 [==============================] - 0s 12ms/step - loss: 0.5985 - accuracy: 0.7173
Epoch 41/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5953 - accuracy: 0.7243
Epoch 42/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5921 - accuracy: 0.7276
Epoch 43/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5890 - accuracy: 0.7320
Epoch 44/100
1/1 [==============================] - 0s 12ms/step - loss: 0.5859 - accuracy: 0.7346
Epoch 45/100
1/1 [==============================] - 0s 12ms/step - loss: 0.5828 - accuracy: 0.7376
Epoch 46/100
1/1 [==============================] - 0s 10ms/step - loss: 0.5798 - accuracy: 0.7427
Epoch 47/100
1/1 [==============================] - 0s 10ms/step - loss: 0.5768 - accuracy: 0.7468
Epoch 48/100
1/1 [==============================] - 0s 12ms/step - loss: 0.5738 - accuracy: 0.7482
Epoch 49/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5709 - accuracy: 0.7497
Epoch 50/100
1/1 [==============================] - 0s 10ms/step - loss: 0.5680 - accuracy: 0.7534
Epoch 51/100
1/1 [==============================] - 0s 8ms/step - loss: 0.5652 - accuracy: 0.7586
Epoch 52/100
1/1 [==============================] - 0s 8ms/step - loss: 0.5624 - accuracy: 0.7612
Epoch 53/100
1/1 [==============================] - 0s 8ms/step - loss: 0.5596 - accuracy: 0.7637
Epoch 54/100
1/1 [==============================] - 0s 8ms/step - loss: 0.5569 - accuracy: 0.7689
Epoch 55/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5542 - accuracy: 0.7737
Epoch 56/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5515 - accuracy: 0.7752
Epoch 57/100
1/1 [==============================] - 0s 12ms/step - loss: 0.5489 - accuracy: 0.7781
Epoch 58/100
1/1 [==============================] - 0s 17ms/step - loss: 0.5463 - accuracy: 0.7811
Epoch 59/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5437 - accuracy: 0.7829
Epoch 60/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5411 - accuracy: 0.7851
Epoch 61/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5386 - accuracy: 0.7895
Epoch 62/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5361 - accuracy: 0.7910
Epoch 63/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5336 - accuracy: 0.7947
Epoch 64/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5312 - accuracy: 0.7958
Epoch 65/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5288 - accuracy: 0.8010
Epoch 66/100
1/1 [==============================] - 0s 14ms/step - loss: 0.5264 - accuracy: 0.8054
Epoch 67/100
1/1 [==============================] - 0s 10ms/step - loss: 0.5241 - accuracy: 0.8076
Epoch 68/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5218 - accuracy: 0.8116
Epoch 69/100
1/1 [==============================] - 0s 10ms/step - loss: 0.5195 - accuracy: 0.8150
Epoch 70/100
1/1 [==============================] - 0s 15ms/step - loss: 0.5172 - accuracy: 0.8175
Epoch 71/100
1/1 [==============================] - 0s 8ms/step - loss: 0.5149 - accuracy: 0.8198
Epoch 72/100
1/1 [==============================] - 0s 12ms/step - loss: 0.5127 - accuracy: 0.8216
Epoch 73/100
1/1 [==============================] - 0s 8ms/step - loss: 0.5105 - accuracy: 0.8234
Epoch 74/100
1/1 [==============================] - 0s 17ms/step - loss: 0.5083 - accuracy: 0.8242
Epoch 75/100
1/1 [==============================] - 0s 13ms/step - loss: 0.5062 - accuracy: 0.8260
Epoch 76/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5041 - accuracy: 0.8275
Epoch 77/100
1/1 [==============================] - 0s 11ms/step - loss: 0.5020 - accuracy: 0.8301
Epoch 78/100
1/1 [==============================] - 0s 10ms/step - loss: 0.4999 - accuracy: 0.8323
Epoch 79/100
1/1 [==============================] - 0s 10ms/step - loss: 0.4978 - accuracy: 0.8345
Epoch 80/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4958 - accuracy: 0.8371
Epoch 81/100
1/1 [==============================] - 0s 7ms/step - loss: 0.4938 - accuracy: 0.8400
Epoch 82/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4918 - accuracy: 0.8408
Epoch 83/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4898 - accuracy: 0.8415
Epoch 84/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4879 - accuracy: 0.8437
Epoch 85/100
1/1 [==============================] - 0s 8ms/step - loss: 0.4860 - accuracy: 0.8459
Epoch 86/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4841 - accuracy: 0.8470
Epoch 87/100
1/1 [==============================] - 0s 8ms/step - loss: 0.4822 - accuracy: 0.8489
Epoch 88/100
1/1 [==============================] - 0s 23ms/step - loss: 0.4803 - accuracy: 0.8500
Epoch 89/100
1/1 [==============================] - 0s 15ms/step - loss: 0.4785 - accuracy: 0.8526
Epoch 90/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4766 - accuracy: 0.8544
Epoch 91/100
1/1 [==============================] - 0s 19ms/step - loss: 0.4748 - accuracy: 0.8555
Epoch 92/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4730 - accuracy: 0.8562
Epoch 93/100
1/1 [==============================] - 0s 11ms/step - loss: 0.4713 - accuracy: 0.8577
Epoch 94/100
1/1 [==============================] - 0s 12ms/step - loss: 0.4695 - accuracy: 0.8585
Epoch 95/100
1/1 [==============================] - 0s 10ms/step - loss: 0.4678 - accuracy: 0.8596
Epoch 96/100
1/1 [==============================] - 0s 8ms/step - loss: 0.4661 - accuracy: 0.8599
Epoch 97/100
1/1 [==============================] - 0s 7ms/step - loss: 0.4644 - accuracy: 0.8607
Epoch 98/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4627 - accuracy: 0.8618
Epoch 99/100
1/1 [==============================] - 0s 9ms/step - loss: 0.4610 - accuracy: 0.8614
Epoch 100/100
1/1 [==============================] - 0s 16ms/step - loss: 0.4594 - accuracy: 0.8625

### Part 4: Model Evaluation

In [26]:
X_test_add = np.expand_dims(test_X_scaled_s, axis=0)
y_test_add = np.expand_dims(bankData_test_y, axis=0)
y_test_add = np.expand_dims(y_test_add, axis=2)

In [27]:
test_loss, test_acc = nn.evaluate(X_test_add, y_test_add)
print('Test Loss: %s\nTest Accuracy: %s' % (test_loss,test_acc))

1/1 [==============================] - 0s 175ms/step - loss: 0.4510 - accuracy: 0.8711
Test Loss: 0.4510183334350586
Test Accuracy: 0.8711283206939697

### Part 5: Model tuning

#### Note:

After building the classifier, try answering the following questions.

1. What is the Accuracy Score?
2. If you change your preprosessing method, can you improve the model?
3. If you change your parameters setting, can you improve the model?